
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "AdminUser")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", $"Index", $"Role")</li>
    </h3>
}
@if (ViewBag.displayMenu == "EmployeeUser")
{
    <h1>Welcome Employee <strong>@ViewBag.Name</strong></h1>
    <div class="row">
        <div class="col-md-4">@LinkExtensions.ActionLink(Html, "Holiday Request", $"Create", $"HolidayViewModels", new { @class = "btn btn-default" })</div>
        <div class="col-md-4">@Html.ActionLink("OOH Request", $"Create", $"OOHRequestViewModels")</div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.ActionLink("Holiday Requests In Pending", $"InPending", $"HolidayViewModels")</div>
        <div class="col-md-4">@Html.ActionLink("OOH Requests In Pending", $"InPending", $"OOHRequestViewModels")</div>
        <div class="col-md-4">@Html.ActionLink("Pontaj", $"SendMail", $"TimeSheetViewModels")</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.ActionLink("Holiday Requests Approved", $"Approved", $"HolidayViewModels")</div>
        <div class="col-md-4">@Html.ActionLink("OOH Requests Approved", $"Approved", $"OOHRequestViewModels")</div>
        <div class="col-md-4"></div>
    </div>

    
}
@if (ViewBag.displayMenu == "Team Leader")
{
    <h1>Welcome teamleader <strong>@ViewBag.Name</strong></h1>

    <div style="height:20px;"></div>
    <div class="row">
        <div class="col-md-4">@Html.ActionLink("Holiday Request", $"Create", $"HolidayViewModels", null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-4">@Html.ActionLink("OOH Request", $"Create", $"OOHRequestViewModels",null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-4"></div>
    </div>
    <div style="height:20px;"></div>
    <div class="row">
        <div class="col-md-4">@Html.ActionLink("Holiday Requests In Pending", $"InPending", $"HolidayViewModels",null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-4">@Html.ActionLink("OOH Requests In Pending", $"InPending", $"OOHRequestViewModels",null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-4">@Html.ActionLink("Pontaj", $"SendMail", $"TimeSheetViewModels",null, new { @class = "btn btn-default btn-lg" })</div>
    </div>
    <div style="height:20px;"></div>
    <div class="row">
        <div class="col-md-4">@Html.ActionLink("Holiday Requests Approved", $"Approved", $"HolidayViewModels", null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-4">@Html.ActionLink("OOH Requests Approved", $"Approved", $"OOHRequestViewModels", null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-4"></div>
    </div>
    <h2>Team Leader Management</h2>
    <div style="height:20px;"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">@Html.ActionLink("Dashboard", $"TeamLeaderStatistics", $"Home", null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-4"></div>
    </div>
    <div style="height:20px;"></div>
    <div class="row">
        <div class="col-md-6">@Html.ActionLink("Holiday Requests In Pending from your team", $"InPendingTeamLeader", $"HolidayViewModels", null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-6">@Html.ActionLink("OOH Requests In Pending from your team", $"InPendingTeamLeader", $"OOHRequestViewModels", null, new { @class = "btn btn-default btn-lg" })</div>
    </div>
    <div style="height:20px;"></div>
    <div class="row">
        <div class="col-md-6">@Html.ActionLink("Holiday Requests Approved from your team", $"ApprovedTeamLeader", $"HolidayViewModels", null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="col-md-6">@Html.ActionLink("OOH Requests Approved from your team", $"ApprovedTeamLeader", $"OOHRequestViewModels", null, new { @class = "btn btn-default btn-lg" })</div>
    </div>


}
@if (ViewBag.displayMenu == "Manager")
{
    <h1>Welcome manager <strong>@ViewBag.Name</strong></h1>
    <div class="row">
        <div class="col-md-4">@Html.ActionLink("Holiday Request", $"Create", $"HolidayViewModels")</div>
        <div class="col-md-4">@Html.ActionLink("OOH Request", $"Create", $"OOHRequestViewModels")</div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.ActionLink("Holiday Requests In Pending", $"InPending", $"HolidayViewModels")</div>
        <div class="col-md-4">@Html.ActionLink("OOH Requests In Pending", "InPending", $"OOHRequestViewModels")</div>
        <div class="col-md-4">@Html.ActionLink("Pontaj", $"SendMail", $"TimeSheetViewModels")</div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.ActionLink("Holiday Requests Approved", $"Approved", $"HolidayViewModels")</div>
        <div class="col-md-4">@Html.ActionLink("OOH Requests Approved", $"Approved", $"OOHRequestViewModels")</div>
        <div class="col-md-4"></div>
    </div>
    <h2>Manager Management</h2>
    <ul>
        <li>@Html.ActionLink("Dashboard", $"ManagerStatistics", $"Home")</li>
    </ul>

}

