@model IEnumerable<shanuMVCUserRoles.Models.OOHRequestViewModel>

@{
    ViewBag.Title = "InPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InPending</h2>

<div class="table">


    @foreach (var item in Model)
    {



        <div class="form-style-8" style="font-family: 'Open Sans Condensed', arial, sans; opacity: 1 ;width: 500px; animation-fill-mode:backwards;   padding: 30px;    background: #FFFFFF;    margin: 50px auto;    box-shadow: 0px 0px 15px rgba(215, 131, 42, 0.52);    -moz-box-shadow: 0px 0px 15px rgba(215, 131, 42, 0.52);    -webkit-box-shadow:  0px 0px 15px rgba(215, 131, 42, 0.52);">

            <p>
                <b>@Html.DisplayNameFor(model => model.Day)</b> :
                @Html.DisplayFor(modelItem => item.Day)
            </p>
            <p>
                <b>@Html.DisplayNameFor(model => model.Hours)</b> :
                @Html.DisplayFor(modelItem => item.Hours)
            </p>
            <p>
                <b>@Html.DisplayNameFor(model => model.TicketNUmber)</b> :
                @Html.DisplayFor(modelItem => item.TicketNUmber)
            </p>
          
        </div>


    }

</div>

